/* Aqui o meu primeiro codigo CSS */
.tituloCima{
		width: 100%;
		text-align: center;
}
#site{
  width:1200px;
  height:1000px;
  margin-top:0;
  margin-left:auto;
  margin-bottom:0;
  margin-right:auto;
  background-color:#666;
}

#conteudo{
  width:1200px;
  height:500px;
	border: 5px;
  background-color:#0F0;
}

#bloco-esquerda{
  width:560px;
  height:400px;
	padding: 20px;

  float:left;
  background-color:#FF0;
	text-align: center;
  }

#bloco-direita{
  width:560px;
  height:400px;
	padding: 20px;

	float:left;
  background-color:#F00;
	text-align: center;
}

#periodo{
		width: 260px;
		height: 100px;
		padding: 10px;
		float:left;
		text-align: center;
}
#empresa{
		width: 260px;
		height: 100px;
		padding: 10px;
		float: left;
		text-align: center;
}
#educacao{
		width: 600px;
		height: 100px;
		padding: 10px;
		float: left;
		text-align: center;
}

/* #fa-solid{ */
/* 		float: left; */
/* } */

#contatos{
		text-align: center;
		width:1000px;
		height:100px;
		background-color:#C3C;
}

/* i { */
/* 		display: grid; */
/* 		/\* font-size:  100px; *\/ */
/* 		/\* color:  black; *\/ */
/* } */
.icon {
		font-size:  100px;
		color: white;
		padding: 15px;
		border-radius: 50%;
}
