/* Aqui o meu primeiro codigo CSS */


/* Especial para bordas da pagina */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  vertical-align: top;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  
}

.banner{
  width: 99%;
  border-radius:20px;
  text-align: center;
  padding:5px;
  box-shadow: inset 0 0 1em #2489ed, 0 0 1em black;
  opacity : 1.5;
}


#conteudo{
  width:100%;
  height:500px;
  margin:auto;
  padding-left:20px;
  text-align:justify;
}

#bloco-esquerda{
  margin:15px;
  width:47%;
  height:100%;
  float:left;
  padding:1em;
  border-radius:10px;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.4);
}

#bloco-direita{
  margin:15px;
  width:47%;
  height:100%;
  float:left;
  padding:1em;
  border-radius:10px;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.4);

}

.espaco{
  height:110%;
  
}


.produtos{
  width: 20%;
  height: auto;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius:20px;
  vertical-align: top;
  display: inline;
  text-align: center;
  box-shadow: inset 0 0 1em #2489ed, 0 0 1em black;
}


#contatos{
  text-align: center;
  font-size:  20px;
  width:15%;
  margin-left: auto;
  height:auto;
  margin-bottom: 16px;
  border-radius:10px;
  box-shadow: inset 0 0 1em #2489ed, 0 0 1em black;
  background:#2489ed;
  
}

.icon {
		font-size:  20px;
		color: white;
		padding: 5px;
		/* border-radius: 80%; */
}
